<template>
  <div>
    <input type="checkbox" v-model="item.completed">
    <span v-bind:class="{ completed: item.completed }">{{ item.food | capitalize }}</span>
  </div>
</template>

<script>
export default {
  props: [
    'item'
  ],

  filters: {
    capitalize(item) {
      let res = '';
      for (let i = 0; i < item.length; i++) {
        if(i === 0)
          res += item[i].toUpperCase();
        else
          res += item[i].toLowerCase();
      }
      return res;
    }
  }
};
</script>

<style scoped>
.completed {
  text-decoration: line-through;
}
</style>
