<template>
  <div>
    <input id="text" v-model="currentValue" type="text" placeholder="Inserisci nuovo elemento">
    <button v-on:click="add">+</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentValue: ""
    };
  },
  methods: {
    add() {
      this.$emit("addItem", this.currentValue);
      this.currentValue = "";
    }
  }
};
</script>
