<template>
  <div id = "body">
    <input type="text" class="title" v-model="title">
    <div id = "food">
      <new-item v-on:addItem="addItemHandler"></new-item>
      <div v-for="element in elements">
        <div v-show="showAll || element.completed">
        <!-- <div v-if="showAll || element.completed"> -->
          <list-item v-bind:item="element"></list-item>
        </div>
      </div>
      <hr>
      <span>{{ elementsLength }} elementi nella lista</span>
      <!-- <span>{{ elementsLength() }} elementi nella lista</span> -->
    </div>
    <div>
      <button class="all" v-on:click="showAll = true">Tutti</button>
      <button class="completed" v-on:click="showAll = false">Completati</button>
    </div>
  </div>
</template>

<script>
import NewItem from "./components/NewItem.vue";
import ListItem from "./components/ListItem.vue";

export default {
  components: {
    'new-item' : NewItem,
    'list-item' : ListItem
  },

  data() {
    return {
      title: 'Shopping list',
      elements: [
        { food: "pane", completed: false },
        { food: "farina", completed: false },
        { food: "latte", completed: false }
      ],
      showAll: true
    };
  },

  computed: {
    elementsLength() {
      const length = this.elements.length;
      console.log('Elementi nella lista: ', length);
      return length;
    }
  },

  methods: {
    addItemHandler(newItem) {
      this.elements.push({
        food: newItem,
        completed: false
      });
    },
    
    // elementsLength() {
    //   const length = this.elements.length;
    //   console.log('Elementi nella lista: ', length);
    //   return length;
    // }
  }
};
</script>

<style>
#body {
  margin: 0px;
  height: 800px;
  font-family: cursive;
  font-size: 25px;
}
#food {
  margin-left: 0%;
  margin-right: 35%;
  border: double;
  border-color: rgb(218, 205, 205);
  background: lavenderblush;
  height: 700px;
  width: 800px;
}
form {
  background: rgb(229, 238, 238);
  border: darkturquoise;
  height: 40px;
}
#text {
  background: gainsboro;
  margin-left: 25%;
  height: 25px;
  width: 330px;
}
#remove {
  text-decoration-line: line-through;
}

input {
  margin-left: 25%;
}
#checkboxes {
  background: lightgray;
  border-style: groove;
  padding: 80px 80px;
  height: 500px;
  width: 500px;
}
h2 {
  background: lightsteelblue;
}
.title {
  background: transparent;
  border: transparent;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}
</style>